body{
	margin-left: 0px;
	margin-top: 0px;
}

.container{
	background-color: white;
	width: 100%; 
	padding-top: 80px;

	padding-left: 8px;
}

.navbar{
	width: 100%;
    background-color: #f3f3f3;
	position: fixed;
}

.navbar nav{
	position: fixed;
}

.navuser{
	display: inline-block;
	margin-right: 15px;
	float: right;
	text-align: center;
}

.navuser p{
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: Georgia;
}

.navbar nav a {
	text-decoration: none;
	color: black;
	font-size: 17px;
	padding-left: 30px;
	text-align: center;
	font-family: Georgia;
}

.navbar nav a.active {
	color: gray;
}
.navbar nav a:hover {
	color: #e2007a;
}

nav {
    list-style-type: none;
	display: inline-block;
	margin-top: 45px;
	right: 150px;
}

#logo {
	height: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
}

#profile {
	height: 40px;
	margin-top: 5px;
	border-radius: 50%;
}